* {
    margin: auto 0;
    padding: 0;
}

html {

}

head {

}

body {
    font-family: Cantarell, sans-serif;
}

#head {

}

#content {
    width: 100%;
    height: auto;
}

#end {

}

#head p {
    text-align: center;
    font-size: 8vh;
}

iframe {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
}

#navigationBar {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 5vh;
}

#element {
    text-align: center;
    width: 100%;
    height: 100vh;
}

#content #element div {
    text-align: center;
    width: 100%;
}

p {
    padding-top: 5vh;
    padding-bottom: 1vh;
    color: #367BF0;
    font-size: 5vh;
}

button {
    border: 1px solid #fea44c;
    border-radius: 0.3vh;
    width: 15vh;
    height: 5vh;
}

button:hover {
    background: #fea44c;
    transition: 0.3s;
}

a {
    text-decoration: none;
    font-size: 2vh;
}

a:hover {
    transition: 0.3s;
    color: white;
}