* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, #CD415B, #6E3DEB);
    width: 100%;
    height: 100vh;
}

#head {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#head a {
    font-weight: bold;
    font-family: "Arial Black", serif;
    display: block;
    color: coral;
}

#head a:hover {
    color: aquamarine;
    transition: 1s;
}

#content {
    text-indent: 2em;
}

#content p {

}

#content h3 {
    margin-top: 2.3vh;
    margin-bottom: 2.3vh;
}

#end {

}

p {

}

h3 {

}

pre {

}